/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

#welcome-banner {
    background: url('../images/hotel-banner.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    color: white;
    
}

.btn {
    color: #ff4500; /* Cambia el color para el enlace activo */
    background-color: #0c0c0c; /* Cambia el fondo para el enlace activo */
    zoom: 2;
    
}

#search {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

#search form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#featured-rooms {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.room {
    text-align: center;
    max-width: 300px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.imglogo {    
    width: 100px;  
    
}

img {    
    width: 500px;  
    
}

/* Contenedor del formulario */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Cuadro del formulario */
.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo para el botón */
.login-box button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #0056b3;
}

/* Estilo para los campos de entrada */
.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Título */
.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

